.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 2em 0 1em 0;
}
.swiper-pagination{
    position: initial;
    margin: 5em 0;
}
.swiper-button-prev,
.swiwper-button-next{
    display: none;
}
.swiper-slides img{
    width: 5%;
}

.card-descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.botoes{
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;
}

.card{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao-titulo{
    color: var(--laranja);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao-titulo-livro{
    color: #002F52;
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
}

.descricao-texto{
    font-size: 14px;
}

.button-item{
    margin: 0 .5em;
}

.botoes-ancora{
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

#angular-img {
    width: 55%;
}